/* apps/web/src/shared/styles/index.css */
@import "@rodia/tokens/dist/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Derive shadcn variables from design token variables only. */
    --card: var(--secondary);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --secondary-foreground: var(--foreground);
    --accent-foreground: var(--foreground);
    --destructive-foreground: var(--foreground);
    --muted-foreground: var(--foreground);

    --input: var(--border);
    --ring: var(--primary);

    --radius: var(--rd-radius-card);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
