server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/flower_db?serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration-seconds: ${JWT_ACCESS_EXP_SECONDS:3600}
